/* styles.css */
body {
  margin: 0;
  background:  rgb(234, 234, 234);
  /* display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center; */
}

main {
  /* display: flex;
  flex-direction: column;
  align-items: stretch; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

.amplify-table__th {
    background-color: var(--amplify-colors-background-tertiary);
  }
  
  .amplify-table__th:first-child {
    text-align: center;
  }
  
  .amplify-table__row:not(:first-child) .amplify-table__th {
    border-top: none;
  }
  
  .amplify-table__row:not(:last-child) .amplify-table__th {
    border-bottom: none;
  }
  
  .amplify-table__caption {
    caption-side: top;
    text-align: center;
  }
  
  .table-summary {
    color: var(--amplify-colors-font-secondary);
    font-style: italic;
  }